@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*
	Template Name: Agency
    Template URL: http://demo.lemonthemes.com/agency
	Author: Lemon Themes
	Author URI : http://www.lemonthemes.com
    Version: 1.0
    Description: Multipurpose Responsive HTML Template
	Tag: HTML5, CSS3, jQuery, Responsive Template.
*/


/* Table of Contents
==================================================
# Global Styles
# Header Styles
# Home Styles
# About Us Styles
# Portfolio Styles
# Case Studies Styles
# Our Team Styles
# Footer Top Styles
# Footer Bottom Styles
# Services Styles
# Contact Us Styles
# Single Blog Styles
==================================================

*/

/* ==========================================================================
 	Global Styles
 ========================================================================== */
html,
body {
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:#3a3a3a;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

ul {
	margin:0;
	padding:0;
    list-style:none;
}

a {
	color: #000;
	-webkit-transition: all 500ms;
	-moz-transition: all 500ms;
	-ms-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

a:hover {
	color: #000;
}

a, 
a:hover {
	text-decoration:none;
}

p {
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: normal;
    line-height: 30px;
    font-size: 16px;
    color: #3e3e3e;
}

img {
	max-width: 100%;
}

section {
  min-width: 100%;
  position: relative;
  width: 100%;
}

a:active,
a:focus, button:focus, .btn:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

.btn {
	border-radius: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    background: #02bee6;
    border: 1px solid #02bee6;
}

.btn:hover {
    color: #02bee6;
    background: #fff;
    border: 1px solid #02bee6;    
}

h1.title {
    font-size: 32px;
    color: #3a3a3a;
    position: relative;
}

h1.title:before {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 70px;
    height: 1px;
    background: #02bee6;
}

.border {
    border-top:1px solid #e5e5e5;
}

h2.sub-title {
    font-size: 22px;
    color: #3a3a3a;
    position: relative;
}

h2.sub-title:before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 40%;
    width: 70px;
    height: 1px;
    background: #3e3e3e;
}

input, textarea,
input:focus, textarea:focus {
    outline:none;
    box-shadow: none;
}


/* ==========================================================================
 	Header Styles
 ========================================================================== */

.navbar-default {
    background-color: transparent;
    border:0;
    border-color: #e7e7e7;
}

.navbar-collapse {
    margin-top: 55px;
}

.logo img {
    margin-top: 56px;
}

.navbar-nav li {
    margin-left: 38px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid transparent;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding: 0 0 20px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus ,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #02bee6;
}

.sticky.navbar-default {
    background:#3e4a4a;
}

.sticky.navbar-default .navbar-collapse {
    margin:20px 0 15px;
}

.sticky.navbar-default .logo img {
    margin-top: 20px;
}

/* ==========================================================================
    Home Styles
 ========================================================================== */

#home {
    background: url(images/home.jpg) no-repeat fixed;
    background-size: cover;
    padding-bottom: 145px
}

#home h1 {
    font-size: 55px;
    color: #fff;
    line-height: 60px;
    font-weight: 500;
    padding: 273px 0 6px;
}

#home h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 57px;
}

#home a.btn {
    width: 185px;
    height:55px;
    line-height: 40px;
}

/* ==========================================================================
    About Us Styles
 ========================================================================== */

#about-us {
    padding: 78px 0 46px;
}

.about p {
    margin-top: 48px;
} 

.single-about {
    margin-bottom: 33px;
}

.about-budget {
    padding-left: 99px;
}

.single-about h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 8px;
}

.single-about p {
    line-height: 23px;
    display: block;
}

.about-time {
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: #02bee6;
    text-align: center;
    background: #f2efef;
    border-radius: 50%;
    float: left;   
}

.single-about:hover .about-time{
    background: #02bee6;
    color: #f2efef;    
}

/* ==========================================================================
    Portfolio Styles
 ========================================================================== */
#portfolio {
    padding-bottom: 126px;
    background: #fff;
}

#portfolio h1.title {
    margin-top: 76px;
}

#portfolio h1.title:before {
    left: 50%;
    margin-left: -35px;
    bottom: -28px;
}

#portfolio p {
    margin: 58px 0 30px;
}

.portfolio-filter {
    margin: 0 0 40px;
}

.portfolio-filter li + li {
    margin-left: 10px;
}

.portfolio-filter li {
    margin-bottom: 20px;
}

.portfolio-filter li a {
    display: block;
    text-transform: uppercase;
    background: #02bee6;
    padding:7px 25px;
    color: #fff;
}

.portfolio-filter li a:hover,
.portfolio-filter li a.active {
    background: #f2efef;
    color: #02bee6;
}

.portfolio-item {
    margin-bottom: 27px;
}

.portfolio-item img {
    width: 100%;
}

/* ==========================================================================
    Case Studies Styles
 ========================================================================== */

#case-studies {
    padding-bottom: 81px;
    background: url(images/studies.png) no-repeat right center;
}

.studies-text h1.title {
    padding-top: 56px;
}

.studies-text h2 {
    font-weight: 500;
    font-size: 22px;
    margin: 62px 0 25px;
}

.studies-text p {
    margin-bottom: 71px;
}

.studies-text li {
    margin-bottom: 35px;
    padding-left: 71px;
    position: relative;
}

.studies-text li:before {
    position: absolute;
    content: "";
    top: -12px;
    left: 0;
    width: 42px;
    height: 42px;
    background: #f2efef url(images/1.png) no-repeat scroll center center;
    border-radius: 50%;
}

.studies-text li:hover:before {
    background: #02bee6 url(images/1-hover.png) no-repeat scroll center center;
}

#case-studies a.btn {
    width: 100%;
    max-width: 285px;
    height: 55px;
    line-height: 40px;
    margin-top: 165px;
}


/* ==========================================================================
    Our Team Styles
 ========================================================================== */

#our-team {
    padding-bottom: 55px;
}

#our-team h1.title {
    margin-top: 77px;
}

#our-team h1.title:before {
    left: 50%;
    margin-left: -35px;
    bottom: -38px;
}

.team-member {
    border:1px solid #dfdfdf;
    background: #f9f9f9;
    margin-top: 65px;
}

.team-member:hover {
    border:1px solid #02bee6;
}

.team-member:hover h4 a {
    color: #02bee6;
}

.team-member h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 35px 20px 15px;
}

.team-member h4 {
    margin: 0 20px 28px;
}

.team-member p {
    color: #717171;
    line-height: 28px;
    margin: 0 20px 0;
}

.team-social {
    margin: 45px 20px 37px;
}

.team-social li a i {
    color: #717171;
}

.team-social li a i:hover {
    color: #02bee6;
}

/* ==========================================================================
    Our Blog Styles
 ========================================================================== */

#our-blog {
    padding-bottom: 81px;
 }

#our-blog h1.title:before {
    left: 50%;
    margin-left: -35px;
    bottom: -38px;    
 }

#our-blog a.btn {
    width: 118px;
    height: 36px;
    border-radius: 0;    
 }

.entry-post {
    margin-top: 66px;
}

.entry-meta {
    position: relative;
}

.entry-meta a:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    margin-left: 4%;
    top: 25%;
    background: #aeeaf7;
}

.entry-meta a:last-child:after {
    background: none;
}

.entry-post:hover .entry-title a{
    color: #02bee6;
}

.entry-content p {
    line-height: 26px;
    color: #717171;
    margin: 24px 0 27px;
}

.entry-content h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin: 38px 0 8px;
}

.entry-meta,.entry-meta a {
    color: #02bee6;
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
    display: inline-block;  
}

/* ==========================================================================
    Footer Top Styles
 ========================================================================== */

#footer-top {
    padding-bottom: 23px;
}

.footer-widget {
    margin-top: 76px;
}

.footer-widget h2 {
    font-size: 22px;
    font-weight: 500;
}

.contact h2 {
    line-height: 26px;
}

.contact p {
    margin: 16px 0 38px;
}

.contact a.btn {
    width: 171px;
    height: 51px;
    line-height: 38px;
}

.about h2 {
    margin-bottom: 22px;
}

.about ul li {
    margin-bottom: 18px;
}

.support h2 {
    margin-bottom: 14px;
}

.support ul li {
    margin-bottom: 18px;
}

.footer-widget address p {
    line-height: 32px;
    margin: 19px 0 32px;
}

.footer-widget address li a i {
    color: #9b9b9b;
    font-size: 20px;
    margin-top: 9px;
}

.footer-widget address li a i:hover {
    color: #02bee6;
}

.footer-widget li a:hover {
    color: #02bee6;
}

/* ==========================================================================
    Footer Bottom Styles
 ========================================================================== */

#footer-bottom {
    padding-bottom: 30px;
} 

#footer-bottom h1 {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 500;
    color: #3e3e3e;
    margin-top: 28px;
}

#footer-bottom h1 span {
    color: #02bee6;
}

#footer-bottom h2 {
    color: #3e3e3e;
    font-size: 14px;
    text-align: right;
    margin-top: 37px;
}

.footer-logo {
    margin-top: 33px;
}

#footer-bottom a:hover {
    color: #02bee6;
}

/* ==========================================================================
/* ==========================================================================
     Services Styles
 ========================================================================== */
 /*========================================================================== */

#services {
    padding: 55px 0 80px;
}

#services h1.title {
    margin-bottom: 63px;
}

#services h1.title:before {
    bottom: -32px;
    left: 50%; 
    margin-left: -35px;   
}

#services>p {
    margin-bottom: 20px;
}

.service {
    margin-top: 66px;
}

.service i {
    font-size: 80px;
}

.service h2.sub-title {
    margin: 40px 0 52px;
}

.service a.btn {
    width: 119px;
    height: 36px;
    background: #f2efef;
    border:1px solid #f2efef;
    color: #3e3e3e;
    margin-top: 31px;
}

.service:hover.service a.btn {
    background: #02bee6;
    border:1px solid #02bee6;
    color: #fff;
}

.service:hover.service i {
    color: #02bee6;
}

.service:hover.service h2.sub-title:before {
    background: #02bee6;
}

/* ==========================================================================
/* ==========================================================================
   Contact Us Styles
 ========================================================================== */
 /*========================================================================== */

#contact-us {
    background: url(images/home.jpg) no-repeat fixed;
    background-size: cover;  
    padding: 231px 0 140px; 
}

#contact-us h1.title {
    color:#fff;
    margin-top: 85px;
}

#contact-us h1.title:before {}

#contact-us p {
    color:#fff;
    margin: 49px 0 20px;
}

.form-group {
    margin-bottom: 25px;
}
 
#contact-us input,
#contact-us textarea {
    background:transparent;
    border:1px solid #02bee6;
    border-radius: 0;
    width:100%;
    height:64px;
    color:#fff;
    font-size: 16px;
    font-weight: 300;
    padding:0 20px 0;

}
 
#contact-us input:focus,
#contact-us textarea:focus{
    border:1px solid #fff;
}

#contact-us textarea {
    min-height:219px;
    padding:25px;
}

#contact-us input[type="submit"] {
    width:170px;
    height:53px;
    background:#02bee6;
    color:#fff;
    border:1px solid #02bee6;
    border-radius: 40px;
    font-size: 22px;
    margin-top: 9px;
}

#contact-us input[type="submit"]:hover {
    background:#fff;
    color:#02bee6;
}

.form-group textarea:focus,
.form-group input:focus {
    box-shadow: none;
}

#contact-us input::-webkit-input-placeholder,
#contact-us textarea::-webkit-input-placeholder {
   color: #fff;
}

#contact-us input:-moz-placeholder,
#contact-us textarea::-webkit-input-placeholder { /* Firefox 18- */
   color: #fff;  
}

#contact-us input::-moz-placeholder,
#contact-us textarea::-webkit-input-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

#contact-us input:-ms-input-placeholder,
#contact-us textarea::-webkit-input-placeholder {  
   color: #fff;  
}



/* ==========================================================================
   Single Blog Styles
 ========================================================================== */
#blog-banner {
    padding: 150px 0 100px;
    background: url(images/home.jpg) no-repeat fixed;
    background-size: cover;
}

#blog-banner h1 {
    color: #fff;
}

#single-blog {
    padding: 119px 0 24px;
}

#single-blog .entry-post {
	line-height: 35px;
}

#single-blog .entry-post p {
	margin-top: 34px;
}

#single-blog .entry-image {
	margin: 21px 0 48px;
}

#single-blog h1.entry-title {
    font-size: 22px;
    line-height: 35px;
    color:#212121;
    font-weight: 500;
}

.sidebar {
	padding-top: 206px;
}

.widget {
    margin-bottom: 30px;
}

.widget_search input[type="search"] {
    width:100%;
    max-width:270px;
    height:41px;
    font-size: 16px;
    border: 1px solid #b2b2b2;
    padding:0 15px 0;
}

.widget_search input[type="search"]:focus {
    border: 1px solid #02bee6;
}

.widget_search input[type="submit"] {
    width:70px;
    height:41px; 
    background:#02bee6; 
    border: 1px solid #02bee6;
    color:#fff; 
    font-size: 16px; 
    margin-left: 2px;
}

.widget_search input[type="submit"]:hover {
    color:#02bee6;
    background:#fff;
}

.related-rosts h4.widget-title {
	margin: 73px 0 37px;
}

#single-blog .widget-title span {
    border-bottom: 1px solid #02bee6;
    padding-bottom: 3px;
}

.post-image {
    float:left;
    margin-right: 22px;
    display:block;
}

.subscribe input {
    border:1px solid #b2b2b2;
    border-radius: 0;
    height:41px;
    font-style: italic;
    font-size: 16px;
}

.subscribe input:focus {
    border: 1px solid #02bee6;
}

.subscribe input[type="submit"] {
    width:100%;
    height:41px;
    background:#02bee6;
    font-size: 18px;
    color:#fff;
    border:1px solid #02bee6;
}

.subscribe input[type="submit"]:hover {
    color:#02bee6;
    background:#fff;
}

.subscribe .form-group {
	margin-bottom: 18px;
}

.subscribe h4.widget-title  {
	margin: 54px 0 34px;
}

#single-blog input::-webkit-input-placeholder,
#single-blog textarea::-webkit-input-placeholder {
   color: #717171;
}

#single-blog input:-moz-placeholder,
#single-blog textarea::-webkit-input-placeholder  { /* Firefox 18- */
   color: #717171;  
}

#single-blogp input::-moz-placeholder,
#single-blog textarea::-webkit-input-placeholder {  /* Firefox 19+ */
   color: #717171;  
}

#single-blog input:-ms-input-placeholder,
#single-blog textarea::-webkit-input-placeholder {  
   color: #717171;  
}

.post-content h4 {
	margin: 0 0 4px;
}

.post-content {
	padding-top: 5px;
}

.single-post {
	border-bottom:1px solid #e5e5e5;
	padding-bottom: 26px;
	margin-top: 25px;
}

.single-post:last-child {
	border-bottom:0;
}

.post-content h4 a {
    line-height: 23px;
}

.post-content h4 a:hover {
    color:#02bee6;
}

.post-content p a {
    color:#02bee6;
}

.post-content p a:hover {
    text-decoration: underline;
}

.comments-area h4 span {
    background:#02bee6;
    color:#fff;
    padding: 12px 28px 11px;
    font-weight: 500;
}

.comments-title {
	margin: 117px 0 46px;
}

.commenter-info {
    float:left;
    padding: 12px 20px 0 0px;
}

.media-inner h4 {
	margin-bottom: 0;
}

.media-inner h4 a {
    float: left;
    margin-right: 20px;
    line-height: 26px;
    color: #212121;
}

.media-inner h4 a:hover {
    color:#02bee6;
}

.media-inner p.date {
	margin:0;
}

.media-inner p {
    line-height: 26px;
    color: #717171;
    margin: 7px 0 24px;
}

.comment-replay {
    padding-left: 115px;
}

.media-body a.btn {
    margin-left: 30px;
    background:transparent;
    border:0;
    color:#000;
}

.media-body a.btn:hover {
    color:#02bee6;
}

.replay-box {
	margin:20px 0 0;
}

.contact-form .form-group {
	margin:0 0 16px;
}

.contact-form input,
.contact-form textarea {
    background:#f7f7f7;
    font-style: italic;
    font-size: 14px;
    border:1px solid #f7f7f7;
    border-radius: 0;
    box-shadow: none;
    width:100%; 
    height:46px; 
    padding: 0 23px;  
}

.contact-form textarea {
    min-height: 170px;
    padding: 16px 23px 0;
}

.contact-form input:focus {
    border:1px solid #02bee6;
}

.form-group button {
    border-radius: 0;
    width:100%;
    height:46px;
    font-size: 18px;
    margin: 1px 0 40px;
}

/* ==========================================================================
   Extra CSS
 ========================================================================== */
 /* css filter grayscale  */
.portfolio-item img,
.team-member img,
.entry-image img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    -ms-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
       filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");

}

.portfolio-item:hover img,
.team-member:hover img,
.entry-image:hover img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -ms-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
} 

/* transition */
.single-about,.about-time, .btn, .studies-text li:before, 
.team-member, .team-social li a i, input, textarea, 
.footer-widget address li a i, .service i, 
.service h2.sub-title:before, .portfolio-item img,
.portfolio-filter li a, .portfolio-filter li a:after,
.portfolio-filter li a:before, input[type="submit"],
.team-member img, .entry-image img {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;    
}


#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url(images/top.png) no-repeat #02bee6;
    text-indent: -99999px;
}